@keyframes opacityIncrease {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveTopToBottom {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes moveBottomToTop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes infinityRotate {
  0%, 100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
}

@keyframes Rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes Dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes Color {
  100%,
  0% {
    stroke: #213139;
  }
}

/*
& .loader {
    position: relative;
    margin: 0 auto 175px auto;
    width: 120px;

    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }
  }

  & .circular {
    animation: Rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  & .path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: Dash 1.5s ease-in-out infinite, Color 6s ease-in-out infinite;
    stroke-linecap: round;
  }
<div class="loader">
  <svg class="circular" viewBox="25 25 50 50">
    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2"
    stroke-miterlimit="10"/>
  </svg>
</div>
*/

@keyframes animate1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes animate2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes animate3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes animate4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes infinityRotate2 {
  0% {
    transform: rotate(0deg);
  }
  70%, 100% {
    transform: rotate(360deg);
  }
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
